// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(218, 150, 95);
  text-align: center;
  justify-content: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(212, 177, 148);
}

h2, h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(226, 191, 162);
}

a {
  text-decoration: none;
  text-align: center;
  color: #fff;
}

li {
  list-style-type: none;
}

.Add {
  margin-left: 40px;
}
